
<div class="d-flex flex-row gap-2 w-100" style="height: 350px;overflow-x: scroll">
    <div class="card bg-light rounded-3 border-1 border-success d-flex justify-content-center align-content-center" style="width: 200px">
        <div class="display-1 text-black text-center">+</div>
    </div>
    {% if notebooks %}
        {% for notebook in notebooks %}
            <div class="card bg-light rounded-3 p-3 border-1 border-success d-flex justify-content-center align-content-center" style="width: 200px">
                <div class="text-black text-center d-flex flex-column g-2 h-100 justify-content-center">

                    <div class="">{{ notebook.titulo }}</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
