{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %} {{ title }} {% else %} Inicio {% endif %}</title>

    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/css/custom.css" %}" rel="stylesheet">
    <script src="{% static "/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "/js/jquery-3.6.0.min.js" %}"></script>

</head>
<body>
<div class="container">
    <h3 class="display-3 text-center mb-2">{% if titleHead%}{{ titleHead }}{% else %}Super Agenda{% endif %}</h3>
    {% block container %}
        <div class="row gap-5 justify-content-center align-content-center">
            <div class="col-12 rounded-3 shadow p-5">
                {% block container_notes %}{% endblock %}
            </div>

            <div class="col-12 rounded-3 shadow p-5">
                {% block container_notebooks %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
<script src="{% static "/js/notebook_pages_events.js" %}"></script>
</body>
</html>