{% extends 'notes_layout.html' %}

{% block container_notes %}
    <h3 class="border-bottom pb-2 mb-2">Lista de Notas</h3>
    <div class="d-flex flex-row gap-2 w-100" style="height: 350px;overflow-x: scroll">
        <div class="card bg-light rounded-3 border-1 border-success d-flex justify-content-center align-content-center" style="width: 200px">
            <div class="display-1 text-black text-center">+</div>
        </div>
        {% if notes %}
            {% for note in notes %}
                <div class="card bg-light rounded-3 p-3 border-1 border-success d-flex justify-content-center align-content-center" style="width: 200px">
                    <div class="text-black text-center d-flex flex-column g-2 h-100 justify-content-between">
                        <div class="">{{ note.titulo }}</div>
                        <div class="">{{ note.texto }}</div>
                        <div class="d-inline-flex flex-row gap-2" style="overflow-x: scroll">
                            {% for tag in note.tags.values %}
                                <div class="badge text-black-50 border rounded-pill">{{ tag.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


{% block container_notebooks %}
    <h3 class="border-bottom pb-2 mb-2">Lista de Cuadernos</h3>
    <div class="d-flex flex-row gap-2 w-100" style="height: 350px;overflow-x: scroll">
        <div class="card bg-light rounded-3 border-1 border-success d-flex justify-content-center align-content-center" style="width: 200px">
            <div class="display-1 text-black text-center">+</div>
        </div>
        {% if notebooks %}
            {% for notebook in notebooks %}
                <div class="card bg-light rounded-3 p-3 border-1 border-success d-flex justify-content-center align-content-center" style="width: 200px">
                    <div class="text-black text-center d-flex flex-column g-2 h-100 justify-content-center">

                        <div class="">{{ notebook.titulo }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
